body {
    font-family: Ubuntu;
    color: #333;
    background-color: #EEE;
    Padding: 32px 64px;
}

button {
    margin: 0px 8px;
    border: 0;
    background: #637fff;
    color: #FFF;
    border-radius: 4px;
    padding: 2px 6px;
    cursor: pointer;
}

ol>li {
    margin: 16px 0px;
}

ol>li>ul>li {
    height: 0;
    opacity: 0;
    transition: height 1s ease, opacity 1.5s ease;
}

ol>li.opened>ul>li {
    opacity: 1;
    height: 20px;
}